{% extends "accounts/base.html" %}

{% block content %}

<h2>Login</h2>
{% if form.errors %}
 <p class="error">Introduceti un email sau o parola valida!</p>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <label for="email">Email:</label>
    <input type="text" name="email" value="" id="email">
    <label for="password">Parola</label>
    <input type="password" name="password" value="" id="password">
    <button type="submit">Login</button>
    <div class="border-top pt-3">
        <small class="text-muted">
            Nu ai cont?<a class="ml-2" href="{% url 'accounts:register' %}">Creeaza un cont</a></small>
    </div>
</form>

{% endblock %}