{% extends 'homepage.html' %}

{% block content %}
  <h3>Profil Form</h3>
  <p>Momentan doar pentru Specializarea Matematica, Limba Romana, Anul 1 si 2 sunt adaugate date in baza de date</p>
  <form method="POST" id="profilForm" data-lb-url="{% url 'accounts:ajax_load_lb' %}" data-an-url="{% url 'accounts:ajax_load_an' %}" data-grupa-url="{% url 'accounts:ajax_load_grupa' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Save</button>
  </form>
  {% if user %}
    <div class="border-top pt-3">

      <a class="btn btn-danger" href="{% url 'accounts:delete_profil'%}">Sterge cont</a>
    </div>

  {% endif %}
{% endblock %}

  {% block script_form %}
  <script>
    $("#id_specializare").change(function () {
      var url = $("#profilForm").attr("data-lb-url");
      var specializareId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'specializare': specializareId
        },
        success: function (data) {
          $("#id_limba_predare").html(data);
        }
      });

    });

    $("#id_limba_predare").change(function () {
      var url = $("#profilForm").attr("data-an-url");
      var limbaPredareId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'limba_predare': limbaPredareId
        },
        success: function (data) {
          $("#id_an").html(data);
        }
      });

    });

    $("#id_an").change(function () {
      var url = $("#profilForm").attr("data-grupa-url");
      var anId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'an': anId
        },
        success: function (data) {
          $("#id_grupa").html(data);
        }
      });

    });


  </script>
{% endblock %}